<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
      <div class="absolute inset-0 bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
      <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
        <div class="max-w-md mx-auto">
          <div>
            <h1 class="text-2xl font-semibold">Add New Article</h1>
          </div>
          <div class="divide-y divide-gray-200">
            <form [formGroup]="articleform" (ngSubmit)="onsubmit()" class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
              <div class="relative">
                <input id="title" formControlName="title" type="text" class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-blue-600" placeholder="Article Title" />
                <label for="title" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Article Title</label>
              </div>
              <div [ngClass]="{'validation-message': articleform!.get('title')?.invalid}"
              *ngIf="articleform!.get('title')?.invalid && ((articleform!.get('title')?.dirty || articleform!.get('title')?.touched))">
              Please enter the title </div>
              <div class="relative">
                <textarea id="content" formControlName="content" rows="5" class="peer placeholder-transparent w-full border-2 border-gray-300 text-gray-900 focus:outline-none focus:border-blue-600 rounded-md" placeholder="Article Content"></textarea>
                <label for="content" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Article Content</label>
              </div>
              <div [ngClass]="{'validation-message': articleform!.get('content')?.invalid}"
              *ngIf="articleform!.get('content')?.invalid && ((articleform!.get('content')?.dirty || articleform!.get('content')?.touched))">
              Please enter a valid content  </div>
             
              <div class="relative">
                <button (click)="addArticle()" class="bg-blue-500 text-white rounded-md h-10 px-4  hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50">
                  Add Article
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


